.warning
{
	color: #f00;
}

.w
{
	color: #FFF;
}

.strike
{
	text-decoration: line-through;
	text-decoration-color: #f00;
}

.section
{
	border-radius: 23px;
	background-color: #1f2122;
	padding: 30px;
}

.quiz-entries > div
{
	margin-bottom: 2em;
}

.main-button-container
{
	margin-bottom: 1em;
}

.other-games .main-button
{
	text-align: center;
	margin-top: -53px;
}